@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html,
body {
  height: 100%;
}

/* Ensure the container spans the entire viewport */
.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Background layer */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Lowest layer */
}

/* Content layer (including sidebar and navbar) */
.content {
  position: relative;
  z-index: 10; /* Above the background */
  height: 100%;
  width: 100%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  right: 0;
  z-index: 20;
}

.hamburger:hover {
  opacity: 0.9;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease, background-color 0.3s ease;
}

.hamburger.open .line {
  background-color: white;
}

.hamburger.open .line1 {
  transform: rotate(45deg) translate(8px, 6px);
}

.hamburger.open .line2 {
  opacity: 0;
}

.hamburger.open .line3 {
  transform: rotate(-45deg) translate(6px, -6px);
}

.tablet-nav {
  display: none;
}

.desktop-nav {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  padding-top: 4rem;
  right: -500px;
  height: 100%;
  background-color: #070625;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 10;
  color: white;
}

.sidebar.show {
  right: 0;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .mobile-nav {
    display: none;
  }

  .tablet-nav {
    display: flex;
  }

  .desktop-nav {
    display: none;
  }

  .section-tabs {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .tab-section {
    display: none;
  }
}

@media screen and (min-width: 1240px) {
  .mobile-nav {
    display: none;
  }

  .tablet-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .section-tabs {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .tab-section {
    display: none;
  }
}
